<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	 <welcome-file-list>
    <welcome-file>homePage.jsp</welcome-file>
  </welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!--
			<param-value>/WEB-INF/applicationContext-*.xml,classpath*:applicationContext-*.xml</param-value>
		-->
		<param-value>classpath:bean.xml</param-value>
	</context-param>
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>strust2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter>
		<filter-name>managerFilter</filter-name>
		<filter-class>beyond.library.filter.ManagerFilter</filter-class>
	</filter>
	<filter>
		<filter-name>studentFilter</filter-name>
		<filter-class>beyond.library.filter.StudentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>strust2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>managerFilter</filter-name>
		<url-pattern>/manager/addbook.jsp</url-pattern>
		<url-pattern>/manager/addFailed.jsp</url-pattern>
		<url-pattern>/manager/addSuccess.jsp</url-pattern>
		<url-pattern>/manager/businessProcess.jsp</url-pattern>
		<url-pattern>/manager/deleteFailed.jsp</url-pattern>
		<url-pattern>/manager/deleteSuccess.jsp</url-pattern>
		<url-pattern>/manager/loginSuccess.jsp</url-pattern>
		<url-pattern>/manager/manager_info.jsp</url-pattern>
		<url-pattern>/manager/studentHandler.jsp</url-pattern>
		<url-pattern>/manager/studentRegister.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>studentFilter</filter-name>
		<url-pattern>/student/borrowedInfo.jsp</url-pattern>
		<url-pattern>/student/noBooksBorrowed.jsp</url-pattern>
		<url-pattern>/student/renewSuccess.jsp</url-pattern>
		<url-pattern>/student/student_basic_info.jsp</url-pattern>
		<url-pattern>/student/welcome.jsp</url-pattern>
		<url-pattern>/student/updatePassword.jsp</url-pattern>
	</filter-mapping>
</web-app>
